/* 鼠标样式 */
body {
  cursor: url(https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/img/default.cur),
    default;
}

a,
img {
  cursor: url(https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/img/pointer.cur),
    default;
}

/* 滚动条（不生效） */
/* ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(45deg,
      rgba(255, 255, 255, 0.4) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.4) 50%,
      rgba(255, 255, 255, 0.4) 75%,
      transparent 75%,
      transparent);
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
} */

/* 所有背景（包括首页卡片、文章页、页面页等） */
/* #aside_content .card-widget, */
/* #recent-posts>.recent-post-item, */
/* .layout_page>div:first-child:not(.recent-posts), */
/* .layout_post>#page, */
/* .layout_post>#post, */
/* .read-mode .layout_post>#post { */
  /* 以下代表白色透明度为0.8 */
  /* background: rgba(255, 255, 255, .8); */
/* } */

/* MAC代码主题换为白色 */
/* #article-container figure.highlight,
#article-container pre {
  color: #a9a9a9;
  background: #f3f3f3
}

#article-container figure.highlight .highlight-tools {
  color: #a9a9a9;
  background: #eee
}

#article-container figure.highlight .gutter pre {
  color: #999;
  background: #f3f3f3
}

#article-container figure.highlight figcaption a {
  color: #f3f3f3 !important
} */

/* 彩色svg图标样式 */
/* .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
} */

/* 字体样式 */
/* 样式格式： */
/* @font-face { */
/*   font-family: 'webfont'; */
/*   font-display: swap; */
/*   src: url('//at.alicdn.com/t/webfont_gc15dk9i4h.eot');  IE9*/
/*   src: url('//at.alicdn.com/t/webfont_gc15dk9i4h.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
/*        url('//at.alicdn.com/t/webfont_gc15dk9i4h.woff2') format('woff2'), */
/*        url('//at.alicdn.com/t/webfont_gc15dk9i4h.woff') format('woff'),  chrome、firefox */
/*        url('//at.alicdn.com/t/webfont_gc15dk9i4h.ttf') format('truetype'),  chrome、firefox、opera、Safari, Android, iOS 4.2+*/
/*        url('//at.alicdn.com/t/webfont_gc15dk9i4h.svg#Alibaba-PuHuiTi-Regular') format('svg');  iOS 4.1- */
/* } */

@font-face {
  font-family: 'wenyi';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/fonts/站酷文艺体.ttf') format("truetype");
}
@font-face {
  font-family: 'CascadiaCode';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/fonts/CascadiaCode.ttf') format("truetype");
}
@font-face {
  font-family: 'CascadiaCodePL';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/fonts/CascadiaCodePL.ttf') format("truetype");
}
@font-face {
  font-family: 'CascadiaMono';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/fonts/CascadiaMono.ttf') format("truetype");
}
@font-face {
  font-family: 'CascadiaMonoPL';
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/laugh0608/butterflyChange@2.2/fonts/CascadiaMonoPL.ttf') format("truetype");
}
